/* * {
  background-color: black;
  text-decoration: none;
  color: darkgray;
} */

/* *:hover {
  color: lightgray;
} */

* {
  text-decoration: none;
  color: white;
}

.map {
  min-width: 47vw;
  margin-right: 100px;
}

.background {
  background-color: black;
  background-image: url("http://wallpaperset.com/w/full/1/4/9/489887.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1013px;
  max-height: 100%;
}

.countryList {
  /* background-color: #; */
  color: white;
  height: 45%;
  width: fit-content;
  float: left;
}

.countryImage {
  max-width: 300px;
  max-height: 300px;
}

.card {
  color: white;
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.list {
  /* border: 2px solid; */
  background: rgba(0,0,0,0.5);
  height: 34vw;
  margin-left: 150px;
  margin-top: 125px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 100px;
}

.listOne {
  text-decoration: none;
  font-size: 18px;
  margin: 50px;
  justify-content: center;
  float: left;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.countriesLabel {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.countryName {
  text-align: center;
  justify-content: center;
}

.navBar {
  background-color: black;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  /* box-sizing: border-box; */
}

.navBar ul {
  background-color: black;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.navBar a, .siteTitle {
  color:white;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  text-decoration: none;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 60px;
  width: 60px;
}

.form{
  display: flex;
  justify-content: center;
  color: black;
}